body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.spotify-container {
  background-color: #282828;
  padding: 20px;
  border-radius: 10px;
}

.spotify-container iframe {
  width: 300px;
  height: 380px;
}